*{
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    font-size: 30px;
}

div {
    width: 120px;
    height: 120px;
    display: block;
    background: yellow;
}

.caja1{
    background: red;
}

.caja2{
    background: yellow;
    position: relative;
}

.caja3{
    background: green;
}

.caja4{
    background: blue;
}
