*{
    font-family: 'Roboto Mono', cursive;
    font-weight: 600px;
    margin: 0;
}


.nav__responsive-ul{
    display: none;
}

nav{
    background: darkmagenta;
}


.nav__li{
    display: inline-block;
    padding: 12px;
    color: white;
}

.nav__li a{
    color: white;
    text-decoration: none;
    padding: 2px;
}

.nav__li i{
    width: 20px;
    box-sizing: border-box;
    text-align: center;
}